$icon-font-path: "./fonts/";
$loading-color: grey;
$input-border-focus: grey !default;
$break-small: 768px;

@function font-path($path) {
  @return $path;
}

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "css/spinner.scss";

.spinner > div {
  background-color: $loading-color;
}

.progress-bar {
  background-color: $loading-color;
}

[v-cloak] {
  display: none;
}

.navbar {
  border-radius: 0px;
}

@media screen and (min-width: $break-small) {
  .jumbotron h1 {
      font-size: 50px;
  }
}

header {
  nav {
    &.jumbotron {
      width: 80%;
      max-width: 650px;
      margin: 89px auto;
      background-color: transparent;
      text-align: center;

      @media screen and (max-width: $break-small) {
        margin: 25px auto;
      }

      img {
        width: 100%;
        max-width: 338px;
      }
    }

    &.navbar {
      > h1, > p {
        display: none;
      }

      @media screen and (min-width: $break-small) {
        img {
          position: absolute;
          left: 10px;
          height: 60px;
        }
        #search {
          padding: 8px 10px 10px 180px;
        }
      }

      @media screen and (max-width: $break-small) {
        text-align: center;

        img {
          max-height: 80px;
        }

        #search {
          padding: 8px;
        }
      }
    }
  }
}

#loading {
  margin-top: 20px;

  .spinner {
    margin-top: 0px;
  }
}