$icon-font-path: "./fonts/";
$default-color: grey;
$loading-color: $default-color;
$input-border-focus: $default-color !default;
$break-small: 768px;
$break-large: 1100px;

@function font-path($path) {
  @return $path;
}

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "css/spinner.scss";

@mixin mq-large-and-up {
  @media (min-width: $break-large) {
    @content;
  }
}

@mixin mq-medium-and-up {
  @media (min-width: $break-small) {
    @content;
  }
}

@mixin mq-small {
  @media (max-width: $break-small) {
    @content;
  }
}

a, a:hover, a:focus, a:visited, a:active {
  color: $default-color;
  text-decoration: none;
}

.spinner > div {
  background-color: $loading-color;
}

.progress-bar {
  background-color: $loading-color;
}

[v-cloak] {
  display: none;
}

.navbar {
  border-radius: 0px;
}

.jumbotron h1 {
  @include mq-medium-and-up {
    font-size: 50px;
  }
}

header {
  nav {
    &.jumbotron {
      width: 80%;
      max-width: 650px;
      margin: 89px auto;
      background-color: transparent;
      text-align: center;

      @include mq-small {
        margin: 25px auto;
      }

      img {
        width: 100%;
        max-width: 338px;
      }
    }

    &.navbar {
      > h1, > p {
        display: none;
      }

      @include mq-medium-and-up {
        img {
          position: absolute;
          left: 10px;
          height: 60px;
        }
        #search {
          padding: 8px 10px 10px 180px;
        }
      }

      @include mq-small {
        text-align: center;

        img {
          max-height: 80px;
        }

        #search {
          padding: 8px;
        }
      }
    }
  }
}

main {
  margin: 0 10px;

  #results {
    margin: 10px 0;
  }

  .results {
    &-item {
      display: flex;
      margin-bottom: 20px;
      border-bottom: 1px solid grey;
      padding-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
        border-bottom: 0px;
      }

      &-cover {
        flex: 1;
        text-align: center;

        @include mq-small {
          display: none;
        }

        img {
          width: 100%;
          max-width: 264px;
          max-height: 352px;
          padding: 0 10px;
        }
      }

      &-detail {
        flex: 3;

        @include mq-large-and-up {
          flex: 4;
        }

        h3 {
          font-size: 20px;
        }
      }
    }
  }
}

#loading {
  margin-top: 20px;

  .spinner {
    margin-top: 0px;
  }
}
