$icon-font-path: "./fonts/";
$input-border-focus: grey !default;

@function font-path($path) {
  @return $path;
}

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak] {
  display: none;
}

header {
  nav {
    &.jumbotron {
      width: 80%;
      max-width: 650px;
      margin: 89px auto;
      background-color: transparent;
      text-align: center;
    }
  }
}